@media all and (min-width: 480px) {
    .Create-Convention {
      margin-top: 20px;
      padding: 60px 0;
    }
  
    .Create-Convention form {
      margin: 0 auto;
      max-width: 500px;
    }
  }

.Create-Convention {
    margin-top: 20px;
}

.date-picker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}