
.EditFormButton {
    opacity: .75;
    display: inline;
    color: #007bff;
    font-size: 1em;
}

.EditFormButton:hover {
    opacity: 100;
    cursor: pointer;
}

.CancelFormButton {
    opacity: .9;
    display: inline;
    font-size: 1em;
    color: rgb(255, 113, 103);
}

.CancelFormButton:hover {
    opacity: 100;
    cursor: pointer;
}

.Edit-Convention-Basic {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.form-group label { 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-container-basic {
    display: flex;
    justify-content: space-between;
}

.filler {
    width: 15rem;
}

.mainContainer {
    width: 60%;
}

.breadcrumb {
    margin-left: 1rem;
    margin-bottom: 0 !important;
}