.date-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    border-right: .5px solid rgb(196, 196, 196);
    width: 5rem;
}

.information-panel {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
}

.information-panel p:first-child {
    margin-bottom: .5rem;
    font-weight: bold;
}

.information-panel p {
    margin: 0;
}

.page-header {
    font-size: 1.4rem;
    margin-top: 3rem;
}

.convention-panel {
    display: flex;
    justify-content: left;
}

.convention-list {
    margin-top: 2rem;
}

.picture-panel {
    background-size: cover;
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
}

.convention-list a {
    padding:0;
}
.convention-list p {
    margin: 0;
}

.convention-list .list-group-item {
    padding: 0 !important;
}

.page-header {
    text-align: center;
}

.welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border: .5px solid rgb(233, 233, 233);
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    padding: 1rem .5rem;
    /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75); */
}

.welcome h2 {
    font-size: 1.5rem !important;
}

.welcome p {
    margin-top: 2rem;
    font-size: 1rem;
}

.homepage-loading {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
}

.right-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}